@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.slick-slide > div {
  margin: 0 10px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollable-column {
  height: 100vh; /* Full viewport height */
  overflow-y: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollable-column::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
.zoomable-image {
  transition: transform 0.2s ease; /* Smooth transition for zoom effect */
}

.zoomable-image:hover {
  transform: scale(1.1); /* Scale the image to 110% on hover */
}